* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%;
    font-family: sans-serif;
    --font-primary: sans-serif;
    --color-text-primary: #eee;
    --color-primary: hsl(254, 26%, 13%);
    --color-secondary: hsl(256, 32%, 30%);
  }

  body {
    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: var(--color-primary);
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    overflow: hidden;
  }
  .configurator {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    min-width: 45rem;
    align-self: end;
    z-index: 2;
  }
  
  .configurator form {
    display: flex;
    flex-direction: column;
    max-width: 70ch;
  }

  .preview {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .canvas {
    width: 100vw;
    height: 100vh;
  }

  label {
    font-size: 2rem;
    padding: 3rem 0 0.5rem 0;
    color: var(--color-text-primary);
  }

  .form_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding-top: 5rem;
  }

  .form_buttons button {
    padding: 1rem;
  }

  /* --- Utils --- */
  .color_input {
    background: transparent;
    border: none;
    width: 100%;
  }